@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #FFFFFF;
  background-color: #f4c9c9d0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-pagination {
  width: 150px !important;
  bottom: 15% !important; 
  left: auto !important;
  right: 12% !important;
}

.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  opacity: 0.8 !important;
  background-color: #ffffff !important;
  transition: width 0.3s, opacity 0.3s, background-color 0.3s;
}

.swiper-pagination-bullet-active {
  width: 50px !important;
  opacity: 1 !important;
  border-radius: 20px !important;
  background-color: #ffffff; 
}